<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Home | clotheme.com</title>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="css/css-clotheMe.css">

</head>

<!-- The body is for the site visitor -->

<body>
    <div id="wrapper">
        <header>
            <h1>Clothe Me</h1>

            <span id="signIn"><a href="#" alt="sign in to get your clothes"><img id="signInImg" src="/template/images/signIn.png">Sign In</a></span>
        </header>


        <nav id="nav">
            <ul class=nav>
                <li><a href="/template/index.html" title="Go to the Homepage">Home</a></li>
                <li><a href="#" title="Go to women Clothes">Women's</a></li>
                <li><a href="#" title="Go to men Clothes">Men's</a></li>
                <li><a href="#" title="Go to children Clothes">Kid's</a></li>
                <li><a href="#" title="Go to Contact page">Contact</a></li>
            </ul>
        </nav>


        <main>
            <div id="index">
                <h1></h1>

                <section id="slogan">
                    <ul id="explain">
                        <li id="best">Best threads in Houston</li><br>
                        <li>We carry everything you'll need and more</li>
                    </ul>
                </section>

                <section id="sales">
                    <h2>Don't Miss Out!</h2>
                    <ul id="saleTitle">
                        <li>30% OFF</li>
                        <li>20% OFF</li>
                        <li>50% OFF</li>
                    </ul>
                    <ul id="saleDsc">
                        <li>All men's jeans</li>
                        <li>All women's tops</li>
                        <li>All kid's Clothing</li>
                    </ul>
                    <ul id="saleImg">
                        <li><a href="#" alt="Sales on all mens pants"><img src="images/background1.jpg"></a></li>
                        <li><a href="#" alt="Sales on all womens tops"><img src="images/background2.jpg"></a></li>
                        <li><a href="#" alt="Sales on all kids clothing"><img src="images/background3.jpg"></a></li>

                    </ul>
                </section>
            </div>
        </main>


        <footer id="footer">
            <div id="footer-line"></div>
            <ul>
                <li>&copy; 2017 Clothe Me Inc., All rights reserved.</li>
                <li>All images used are believed to be in "Fair Use". Please notify the author if any are not and they will be removed.</li>
            </ul>
        </footer>

    </div>


</body>
</html>
