body {
background-image: url("weatherBackground.jpg");
background-size: cover;
font-size: .8em;
}

h1 {
display: flex;
justify-content: center;
color: red;
font-size: 2.8em;
}

#navigation {
display: flex;
justify-content: center;
}

.franklin {
color: darkred;
margin-right: 1em;
font-size: 1.3em;
}

.greenville {
color: darkred;
margin-right: 1em;
font-size: 1.3em;
}

.springfield {
color: darkred;
font-size: 1.3em;
}

h3 {
display: flex;
justify-content: center;
color: darkgreen;
font-size: 2.1em;
}

.today {
display: flex;
justify-content: center;
color: darkgray;
text-align: center;
font-size: 1.6em;
}

.sunnyImage {
display: flex;
float: left;
margin-left: 17%;
width: 6.25em;
height: 6.25em;
}


.weatherStats {
display: flex;
flex-flow: column;
float: left;
margin-top: -1.1%;
width: 12em;
}


.high {
color: crimson;
}

.low {
color: blue;
}


.wireframeImage {
display: flex;
width: 18em;
height: 10em;
margin-top: 3%;
padding-right: 30%;
}

.wireframeImageTablet {
display: flex;
width: 18em;
height: 10em;
margin-top: 1%;
}

.wireframeImageBrowser {
display: flex;
width: 18em;
height: 10em;
margin-top: 1%;
}

