body {
background-image: url("weatherBackground.jpg");
background-size: cover;
font-size: .8em;
margin: 0;
}




h1 {
display: flex;
justify-content: center;
color: red;
font-size: 2.8em;
}




.nav {
list-style: none;
display: flex;
justify-content: center;
margin: 0;
padding: 0;
font-size: 1.3em;
}
.nav>li {
flex: .14 .14 auto;
text-align: center;
}




h3 {
display: flex;
justify-content: center;
color: darkgreen;
font-size: 2.2em;
}




.day {
list-style: none;
}
.tomorrow {
display: none;
font-size: 1.6em;
}
.today {
list-style: none;
font-size: 1.6em;
color: darkgray;
display: flex;
justify-content: center;
}




.weatherStatsTomorrow {
display: none;
}
.stormImageTomorrow {
display: none;
}
#stats {
display: flex;
margin-top: -2%;
margin-bottom: 5em;
}
#stats>ul {
list-style: none;
flex: 1 1 auto;
}
#stats>ul>li {
text-align: center;
}
#stats>ul>li>img {
float: right;
}
.stormImage {
width: 6.25em;
height: 6.25em;
}
.high {
color: crimson;
}
.low {
color: blue;
}




#hours {
    display: flex;
}
#hours>ul {
    list-style: none;
    flex-flow: column;
    flex: 1 1 auto;
}
#hours>ul>li {
    text-align: center;
}
.hourlyTomorrow {
    display: none;
}




.wireframeImage {
display: flex;
width: 18em;
height: 10em;
margin-top: 3%;
padding-right: 30%;
}
.wireframeImageTablet {
display: flex;
width: 18em;
height: 10em;
margin-top: 1%;
}
.wireframeImageBrowser {
display: flex;
width: 18em;
height: 10em;
margin-top: 1%;
}




@media screen and (min-width: 35em) {
body {
    font-size: 1em;
}


.nav {
    font-size: 1.6em;
}


.day {
list-style: none;
color: darkgray;
margin: 0;
padding: 0;
display: flex;
}
.day>li {
flex: 1 1 auto;
text-align: center;
}
.tomorrow {
display: block;

}



#stats {
display: flex;
margin-top: -1%;
}
#stats>ul {
list-style: none;
flex: 1 1 auto;
}
#stats>ul>li {
text-align: left;
}
#stats>ul>li>img {
float: right;
}
.stormImage {
width: 6.25em;
height: 6.25em;
}
.stormImageTomorrow {
display: block;
width: 6.25em;
height: 6.25em;
}
.weatherStatsTomorrow {
display: block;
}
.high {
color: crimson;
}
.low {
color: blue;
}




.hourlyTomorrow {
    display: block;
}



}




@media screen and (min-width: 70em) {
body {
font-size: 1.2em;
}




}
