#now {
    list-style: none;
    display: flex;
    flex-flow: column;
    margin-top: -5em;
}


#now>li {
    width: 2.3em;
    height: 1.6em;
    text-align: center;
    margin: .1em;
    margin-left: 2.8em;
    padding-top: .5em;
    border-style: double;
    border-width: .2em;
    font-size: 2em;
}


.whatever {
    list-style: none;
    display: flex;
    flex-flow: row;
}
.whatever>li {
    width: 2.3em;
    height: 1.6em;
    text-align: center;
    margin: .1em;
    padding-top: .5em;
    border-style: double;
    border-width: .2em;
    font-size: 2em;
}
